= render partial: "shared/sub_menu", locals: {items: [["Модельные портфели", "investing/model-portfolios"],["Структурные продукты", "investing/structural-products"],["Open Advisor", "investing/open-advisor"],["Личный брокер", "investing/personal-broker"]]}