.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/db/mongoid.yml
/config/newrelic.yml
/config/deploy.rb
/config/deploy/*
/public/system/*
/public/assets/*
/public/upload
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
Capfile
