#{@visitor.first_name} #{@visitor.last_name}, добро пожаловать в ОТКРЫТИЕ Брокер.
|================================================================================

Спасибо, Ваша анкета успешно зарегистрирована. Оформление документов начнется сразу после получения копии Вашего паспорта (скан или фотография), которую Вы можете отправить по email anketa@open.ru.