- content_for :title, "Новости компании"
- content_for :meta_description, ""
- content_for :meta_keywords, ""
- content_for :page_content_class, "page-news"
section.news
  .layout.group 
    = render partial: "shared/news/list", collection: @news_list, as: :item
