= render partial: "shared/sub_menu", locals: {items: [["Новости", "about/news"],["Карьера", "about/career"],["Команда", "about/command"],["Филиалы", "about/branch"],["Раскрытие информации", "about/disclosure"],["Напишите нам", "about/contactus"]]}