= render partial: "shared/sub_menu", locals: {items: [["Брокерское обслуживание", "docs/brokerage"],["Брокерское обслуживание ИТП", "docs/brokerage-foreign"],["Депозитарное обслуживание", "docs/custody"], ["Доверительное управление", "docs/trust"]]}