@import "vars";
/* ==========================================================================
   Общие стили
   ========================================================================== */
body {
  margin: 0 auto;
  padding-top: 62px;
  max-width: 1440px;
  min-width: 980px;
  font: 12px/1.5 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  &.sub-nav-fixed { 
    >.header { margin-bottom: 46px; }
  }
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  *zoom: 1;
}

.layout {
  width: 980px;
  margin: 0 auto;
  &.layout--half {
    width: 50%;
  }
}
.bg-white { background-color: white; }
.bg-gray { background-color: $dark-gray; }
.centered { text-align: center; }

.placeholder {
  color: $dark-blue !important;
  left: 12px;
  top: 7px;
  position: absolute;
  width: 100%;
}
/* Кнопки */
.btn {
  display: inline-block;
  padding: 6px 20px;
  min-width: 86px;
  background-color: $dark-blue;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  @include transition(background-color, 0.2s, ease-in-out);
  &.white {
    color: #13516f;
    background: white;
  }
  &.blue {
    background: $blue;
  }
  &:hover {
    background: $orange;
    color: white;
  }
  &.orange {
    background: $orange;
    &:hover {
      background: $gray;
    }
  }
  &.round-left {
    border-radius: $br-left;
  }
  &.round-right {
    border-radius: $br-right;
  }
}
input.btn,
button.btn {
  border: 0;
}
/* Ссылки */
a,
.link-branch {
  color: $dark-blue;
  text-decoration: underline;
  cursor: pointer;
  &:hover,
  &.active {
    color: $dark-blue;
    text-decoration: none;
  } 
}

/* ==========================================================================
   Block HEADER
   ========================================================================== */
header.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  height: 62px;
  background-color: #f6f7f7;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: transform 0.3s ease;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  &.min {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
  }
  >.layout {
    padding: 13px 0 7px;
  }
  .logo {
    float: left;
    
    img { width:153px; }

  }
    /* Главное меню
       ========================================================================== */
    .main-menu {
      float: right;
      margin: 10px 0 0;
      >.list {
        margin: 0;
        >.item {
          display: inline-block;
          margin: 0 10px;
          >.link {
            color: #1d1e1f;
            text-decoration: none;
            text-transform: uppercase;
            @include transition(all, 0.2s, ease-in-out);
            &:hover,
            &.active {
              color: $dark-blue;
              text-decoration: underline;
            }
            /* иконки от FontAwesome, возможно уберём из продакшен версии */
            .fa {
              font-size: 20px;
              vertical-align: middle;
              color: $dark-blue;
              margin-right: 6px;
            }

            /* кнопоки открыть счёт */
            &.account {
              margin: 0 -10px;
              padding: 5px 14px;
              background: $orange;
              color: #fff;
              &:hover,
              &.active {
                background: #53b2df;
                text-decoration: none;
              }
            }
            &.account_left {
              border-radius: $br-left;
              
            }
            &.account_right {
              border-radius: $br-right;
              
            }
          }
        }
      }
    }
}
.lt-ie9 {
  .account_left {
      margin: 0 !important;
  }
  .account_right {
    margin: 0 0 0 -9px !important; 
  }
}

/* ==========================================================================
   Sub nav
   ========================================================================== */
.sub-nav {
  background-color: $dark-gray;
  background-color: rgba(236, 236, 236, .8);
  border-top: 1px solid #e5e5e5;
  .title {
    display: block;
    float: left;
    padding: 4px 0 5px;
    font-size: 24px;
    font-weight: 300;
  }
  ul {
    float: right;
    padding: 0;
    margin: 6px 0 0;
    list-style: none;
    font-size: 12px;

    li {
      float: left;
      line-height: 24*1.5px;
    }
  }
  li:last-child .item { margin-right: 0; }
  .item {
    margin: 0 16px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    @include transition(all, 0.2s, ease-in-out);
    &:hover { 
      color: $orange;
    }
  }
  &.fixed {
    position: fixed;
    top: -46px;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
}
/* ==========================================================================
   Block FOOTER
   ========================================================================== */
.footer {
  background: #2b3038;
  margin: 0;
  padding: 9px 0 18px;
  .address {
    float: left;
    height: 50px;
    font-style: normal;
    .list {
      margin: 0;
      padding: 0;
      .item {
        display: block;
        float: left;
        color: white;
        &:first-child { margin-right: 50px; }
        .fa {
          font-size: 40px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }
  .advanced-menu {
    float: right;
    height: 50px;
    .list {
      margin: 0;
      padding: 0;
      margin: 9px 0 0 0;
      .item {
        display: inline-block;
        margin: 0 5px;
        .link {
          color: white;
          /*border: 1px solid white;*/
          padding: 5px;
          border-radius: 4px;
          @include transition(all, 0.2s, ease-in-out);
          &:hover,
          &.active {
            color: #00bbe4;
            text-decoration: none;
          }
        }
      } 
    }
  }
  .copyright {
    float: left;
    color: white;
    margin: 36px 0 0;
    a {
      color: white;
      margin: 0 10px;
      @include transition(all, 0.2s, ease-in-out);
      &:hover {
        color: #00bbe4;
      }
    }
  }
  .social {
    float: right;
    margin: 26px 0 0;
    .item {
      display: inline-block;
      font-size: 32px;
      color: white;
      margin: 0 10px;
      text-decoration: none;
      @include transition(color, 0.2s, ease-in-out);
      &:hover {
        color: #00bbe4;
      }
    } 
  }
}
.no-borderradius {
  .main-menu,
  .advanced-menu {
    .list {
      .item {
        margin-right: 0 !important;
      }
    }
  }
  .content__OpenAdvisor {
    .cover {
      h2 {
      width:670px !important;
      }
    }
  }
  .icon-map-marker {
    margin-left:25px !important;
  }
  .cover__dividing-line,
  .dividing-line_white {
    background: white;
  }
  .dividing-line_blue {
    background: $dark-blue;
  }  
  .dividing-line_dark-blue {
    background: $blue;
  }
  .form {
    input {
      padding: 10px 10px 0px 18px !important;
    }
  }
}
/* ==========================================================================
   Suggestions in forms
   ========================================================================== */
.autocomplete-suggestions {
    background: #fff;
    border: 1px solid #b3b9cb;
    cursor: default;
    max-height: 500px;
    overflow: auto;
}
.autocomplete-suggestions strong {
    color: #3399FF;
    font-weight: normal;
}
.autocomplete-suggestion {
    overflow: hidden;
    padding: 2px 5px;
    white-space: nowrap;
}
.autocomplete-selected {
    background: #f0f0f0;
}