@import "vars";
/* ==========================================================================
   Default styles
   ========================================================================== */

/* Слайды
  ========================================================================== */
.slide {
  .title {
    position: relative;
    margin: 0 0 16px;
    padding: 0 0 10px;
    font-size: 36px;
    text-align: center;
    /* Рисуем полоску под заголовком */
    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -16px;
      width: 32px;
      height: 1px;
      background: #53b2df;
      content: "";
    }
    /* Оттягиваем полоску заголовка влево */
    &.bg-left { text-align: left; }
    &.bg-left:after {
      left: 0;
      margin-left: 0;
    }
  }
  /* Обложки */
  &.cover {
    height: 450px;
    font-size: 18px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    overflow: hidden;
    /* Главная страница */
    &.index { 
      background: image-url("application/layout/10.jpg") no-repeat center center;
      .content {
        margin: 3.33333333333333em 0;
      }
    }
    &.open-advisor { 
      background: image-url("application/pages/covers/open-advisor.jpg") no-repeat center top;
    }
    &.trading { 
      background: image-url("application/pages/covers/trading.png") no-repeat center top;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/covers/trading.png"), sizingMethod='scale');
      -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/covers/trading.png"), sizingMethod='scale');
    }
    &.training { 
      background: image-url("application/pages/covers/training.png") no-repeat center top;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/covers/training.png"), sizingMethod='scale');
      -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/cover/training.png"), sizingMethod='scale');
    }
    &.investing { 
      background: image-url("application/pages/covers/investing.jpg") no-repeat center top;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/covers/investing.jpg"), sizingMethod='scale');
      -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/cover/investing.jpg"), sizingMethod='scale');
    }
    &.structural-products { 
      background: image-url("application/pages/covers/structural-products.jpg") no-repeat center top;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/covers/structural-products.jpg"), sizingMethod='scale');
      -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/cover/structural-products.jpg"), sizingMethod='scale');
    }
    &.personal-broker {
      background: image-url("application/pages/covers/personal-broker.jpeg") no-repeat center top;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/covers/personal-broker.png"), sizingMethod='scale');
      -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=image-path("application/pages/covers/personal-broker.png"), sizingMethod='scale');
    }

    .title {
      padding: 0 0 28px;
      font-size: 45px;
      text-transform: uppercase;
      &:after {
        margin-left: -32px;
        width: 64px;
        background: white;
        content: "";
      }
    }

    .content {
      margin: 3.33333333333333em 0;
      width: 490px;
      text-align: center;
      color: #fff;
    }
    p {
      margin: 26px 0;
      font-family: Georgia, serif;
      font-style: italic;
    }
  }
  &.white {
    background-color: white;
  }
  &.gray {
    background-color: $dark-gray;
  }
  &.blue {
    background-color: $dark-blue;
  }
  &.bordered {
    border-top: 4px solid $dark-blue;
    border-bottom: 4px solid $dark-blue;
  }
}
/* Product Teasers
  ========================================================================== */
.product-teasers {
  text-align: center;
  .items {
    padding: 30px 0;
    .item {
      display: inline-block;
      width: 220px;
      vertical-align: top;
      margin: 0 11px;
      position: relative;
      >a {
        display: block;
        color: #000;
        text-decoration: none;
        &:hover {
          .title span:before {
            background-color: $orange;
          }
          .lead {
            color: $dark-blue;
          }
        }
      }
      .title {
        padding: 0;
        font-size: 25px;
        line-height: 24px;
        padding-top: 170px;
        span {
          display: block;
          padding: 15px 0;
          line-height: 24px;
          background: white;
          &:before {
            display: block;
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 170px;
            content: "";
            background-color: $dark-blue;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 20px;
            @include transition(background-color, 0.2s, ease-in-out);
          }
        }
        .model-portfolios {
          &:before {
            background-image: image-url("application/teasers.modeling.portfolios.png");
          }
        }
        .structural-products {
          &:before {
            background-image: image-url("application/teasers.structural.products.png");
          }
        }
        .trading-signals {
          &:before {
            background-image: image-url("application/teasers.trading.signals.png");
          }
        }
        .active-trading {
          &:before {
            background-image: image-url("application/teasers.trading.png");
          }
        }
        .unit-fund {
          &:before {
            background-image: image-url("application/pages/product-teasers/investing-unit-fund.png");
          }
        }
        .defensive {
          &:before {
            background-image: image-url("application/pages/product-teasers/structural-products-defensive.png");
          }
        }
        .coupon {
          &:before {
            background-image: image-url("application/pages/product-teasers/structural-products-coupon.png");
          }
        }
        .securities {
          &:before {
            background-image: image-url("application/pages/product-teasers/structural-products-securities.png");
          }
        }
        .stocks-bond {
          &:before {
            background-image: image-url("application/pages/product-teasers/stocks-bond.png");
          }
        }
        .international-stock {
          &:before {
            background-image: image-url("application/pages/product-teasers/international-stock.png");
          }
        }
        .currency {
          &:before {
            background-image: image-url("application/pages/product-teasers/currency.png");
          }
        }
        .futures-option {
          &:before {
            background-image: image-url("application/pages/product-teasers/futures-option.png");
          }
        }
        .consultant {
          &:before {
            background-image: image-url("application/pages/product-teasers/consultant.png");
          }
        }
        .service {
          &:before {
            background-image: image-url("application/pages/product-teasers/service.png");
          }
        }
        .command {
          &:before {
            background-image: image-url("application/pages/product-teasers/command.png");
          }
        }
        .access {
          &:before {
            background-image: image-url("application/pages/product-teasers/access.png");
          }
        }
        .news {
          &:before {
            background-image: image-url("application/pages/product-teasers/news.png");
          }
        }
        .career {
          &:before {
            background-image: image-url("application/pages/product-teasers/career.png");
          }
        }
        .contact {
          &:before {
            background-image: image-url("application/pages/product-teasers/contact.png");
          }
        }
      }
      p,
      .lead {
        min-height: 50px;
        @include transition(color, 0.2s, ease-in-out);
      }
    }
  }
}

/* Awards
  ========================================================================== */
.awards-list {
  padding: 0;
  list-style: none;
  .item {
    float: left;
    margin: 30px 0 30px 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 14px;
    span {
      color: #01bcf3;
      font-size: 15px;
    }
    &:first-child { margin-left: 0; }
  }
  .awards--1st-place {
    background: image-url("application/awards.moscow.exchange.png") no-repeat 0 50%;
    width: 153px;
    padding-left: 200px;
  }
  .awards--best-year {
    background: image-url("application/awards.best.year.png") no-repeat 0 50%;
    width: 165px;
    padding-left: 64px;
  }
  .awards--aaa {
    background: image-url("application/awards.aaa.png") no-repeat 0 50%;
    width: 150px;
    padding-left: 75px;
  }
}

/* Page TEASERS
  ========================================================================== */
.page-teasers {
  background: $dark-blue;
  .teasers {
    text-align: center;
    .item {
      display: inline-block;
      text-decoration: none;
      color: $white;
      width: 33.3333%;
      padding: 35px 0;
      &:hover {
        background: $light-blue;
      }
      .icon {
        width: 63px;
        height: 63px;
        display: inline-block;
        &.algo {
          background: image-url("application/pages/teasers/algo.png") no-repeat 50% 50%;
        }
        &.services {
          background: image-url("application/pages/teasers/services.png") no-repeat 50% 50%;
        }
        &.training {
          background: image-url("application/pages/teasers/training.png") no-repeat 50% 50%;
        }
        &.training-remote {
          background: image-url("application/pages/teasers/training-remote.png") no-repeat 50% 50%;
        }
        &.training-individual {
          background: image-url("application/pages/teasers/training-individual.png") no-repeat 50% 50%;
        }
        &.training-coach {
          background: image-url("application/pages/teasers/training-coach.png") no-repeat 50% 50%;
        }
        &.ask-question {
          background: image-url("application/pages/teasers/ask-question.png") no-repeat 50% 50%;
        }
        &.structural-products {
          background: image-url("application/pages/teasers/structural-products.png") no-repeat 50% 50%;
        }
        &.webinar {
          background: image-url("application/pages/teasers/webinar.png") no-repeat 50% 50%;
        }
        &.model-portfolio {
          background: image-url("application/pages/teasers/model-portfolio.png") no-repeat 50% 50%;
        }
        &.trading-signal {
          background: image-url("application/pages/teasers/trading-signal.png") no-repeat 50% 50%;
        }
        /* Page investing */
        &.npf {
          background: image-url("application/pages/teasers/npf.png") no-repeat 50% 50%;
        }
        &.trust-management {
          background: image-url("application/pages/teasers/trust-management.png") no-repeat 50% 50%;
        }
        &.mutual-funds {
          background: image-url("application/pages/teasers/mutual-funds.png") no-repeat 50% 50%;
        }
      }
      .title {
        position: relative;
        margin: 0;
        padding: 12px 0;
        font-size: 14px;
        font-weight: 300;
        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -12px;
          width: 24px;
          height: 1px;
          background-color: white;
          content: "";
        }
      }
      p {
        margin: 5px 0;
        font-size: 14px;
      }
    }
  }
}

/* ==========================================================================
   Стили для страниц
   ========================================================================== */
/* INDEX
   ========================================================================== */
.page-index {
  /* Product teasers
   ========================================================================== */
  .product-teasers { padding: 30px 0; }
  /* Subsection Cover
   ========================================================================== */
  .cover {
    background: $dark-blue;
    color: #fff;
    .content {
      .description {
        float: left;
        img {
          margin: 20px 0 10px;
        }
      }
      .example {
        float: right;
        margin-right: -490px;
        width:350px;
        height: 297px;
        text-align: left;
      }
    }
  }
  
  /* News, Invest ideas
   ========================================================================== */
  .news-list,
  .invest-ideas {
    float: left;
    margin: 0 0 50px 30px;
    padding: 20px 30px;
    width:415px;
    height: 440px;
    vertical-align: top;
    background: $dark-gray;
    >.title {
      margin: 0 0 8px;
      padding: 0;
      font-size: 30px;
      &:after { display: none; }
    }
    .item {
      margin: 0 0 30px;
      >time {
        color: $dark-blue;
        font-weight: 600;
      }
      >.title {
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        &:after { display: none; }
      }
      >.lead { margin: 9px 0; }
      .more {
        color: $dark-blue;
        @include transition(color, 0.2s, ease-in-out);
        &:hover { color: $orange; }
      }
    }
  }
  .news-list { margin: 0; }
}
/* TRADING
   ========================================================================== */
.page-trading {
  /* Subsection COMFORTABLY
   ========================================================================== */
  .comfortably {
    text-align: center;
    padding: 50px 0;
    p {
      font-family: Georgia, serif;
      font-size: 16px;
      font-style: italic;
    }
  }
  /* Subsection TOOLS
   ========================================================================== */
  .tools {
    text-align: center;
    padding: 50px 0;
    >p {
      font-family: Georgia, serif;
      font-size: 16px;
      font-style: italic;
    }
    .items {
      .item {
        text-align: left;
        .title {
          span {
            &:before {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
  .platform {
    .items {
      margin: 20px 0 0;
      .item {
        display: inline-block;
        width: 490px;
        vertical-align: top;
        margin: 0;
        figure {
          margin:0 15px 0 0;
        }
        .description {
          overflow: hidden;
          width: 290px;
          text-align: left;
          h3 {
            font-weight: 600;
            font-size: 30px;
            margin: 0;
          }
          .icons {
            font-size: 36px;
            color: $dark-blue;
            .fa {
              margin: 0 8px 0 0;
            }
          }
          p {
            font-weight: 400;
            font-size: 13px;
            padding-right: 28px;
          }
        }
      }
    }
  }
  /* Subsection RATES
   ========================================================================== */
  .rates {
    padding: 50px 0;
  }
}
/* RATES
   ========================================================================== */
.rates { 
  padding: 50px 0;
  .item {
    display: inline-block;
    width: 270px;
    height:270px;
    vertical-align: top;
    margin: 2px;
    padding: 30px 25px;
    background: $dark-gray;
    position: relative;

    .title { 
      line-height: 30px;
      font-size: 28px;
      b { font-weight: 600; }
    }
    p {
      font-family: Georgia, serif;
      font-size: 15px;
      font-style: italic;
    }
    .actions {
      position: absolute;
      bottom: 30px;
      a:first-child { margin-right: 1px; }
    }
  }
}
/* Pricing Plan
   ========================================================================== */
.rates-detail {
  padding: 30px 0;
  text-align: center;
  .item {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    text-align: left;
    width:310px;
    table {
      width: 100%;
      margin: 0 0 5px;
      tr {
        background: #eaeaea;
        font-size: 10px;
        &:nth-child(odd) td {
         background: #e1e1e1;
        }
        td {
          padding: 10px;
          text-align: right;
          &:nth-child(odd) {
           text-align: left;
          }
        }
      }
      th {
        background: $dark-blue;
        color: $white;
        font-size: 12px;
        padding: 10px;
      }
    }
  }
  .btn {
    margin: 20px 0 0;
  }
}
/* Learning
   ========================================================================== */
.page-learning {
  .events-header {
    padding: 12px 0;
    background: $dark-gray;

    .title {
      font-size: 24px;
    }
  }
  /* Фильтр событий */
  .filter {
    margin-left: 20px;
    padding: 6px 0 0;
    line-height: 30px;

    .item {
      margin-left: 20px;
    }
  }
  .learning-events {
    margin: 0;
    padding: 0;
    list-style: none;
    .item {
      padding: 18px 0;
      
      .title {
        float: left;
        padding-left: 30px;
        width: 645px;
        font-size: 14px;
        &.webinar {
          background: image-url("application/pages/learning/icon-webinar.png") no-repeat 0 50%;
        }
        &.seminar {
          background: image-url("application/pages/learning/icon-seminar.png") no-repeat 0 50%;
        }
        &.masterclass {
          background: image-url("application/pages/learning/icon-masterclass.png") no-repeat 0 50%;
        }
      }
      .tags {
        float: right;
        width: 305px;
        line-height: 21px;

        .item {
          display: inline-block;
          margin: 0 2px 2px 0;
          padding: 4px;
          font-size: 10px;
          line-height: 14px;
          background-color: #cecece;
          border-radius: 2px;
        }
      }
      &:nth-child(odd) {
        background-color: $white;
      }
      &:nth-child(even) {
        background-color: $light-gray;
      }
    }
  }
  /* Показать ещё */
  .actions {
    padding: 18px 0;
    text-align: center;
  }
}

/* Open account
   ========================================================================== */
.page-open-account {
  .slide {
    background: image-url("application/layout/10.jpg") no-repeat 50% 50%;
  }
  .form-layout,
  .description-layout { padding: 36px 0; }
  .form-layout {
    float: left;
    width: 430px;

    /* Элементы формы */
    .form-row { 
      margin: 0 0 5px 0;
      &.consent,
      &.actions {
        line-height: 36px;
      }
      .field_with_errors { display: inline; }
    }
    label {
      color: white;
    }
    .input-text {
      padding: 0 3%;
      width: 94%;
      line-height: 36px;
      border: 0;
    }
    .input-checkbox {
      margin-right: 6px;
    }
    .input-text::-webkit-input-placeholder { color: $dark-blue; }
    .input-text:-moz-placeholder { color: $dark-blue; }
  }
  .description-layout {
    float: right;
    width: 450px;
    color: white;

    p:first-child { margin-top: 0; }
  }
}

/* Investing
   ========================================================================== */
.page-investing {
  .slide {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    border-bottom: 4px solid #fff;
    
    &.model-portfolios {
      background: image-url("application/pages/investing/model-portfolios-teaser.jpg") no-repeat left 50%;
    }
    &.structural-products {
      background: image-url("application/pages/investing/structural-products-teaser.jpg") no-repeat 20% 50%;
    }
    &.open-advisor {
      background: image-url("application/pages/investing/open-advisor-teaser.jpg") no-repeat left 50%;
    }
    &.personal-broker {
      background: image-url("application/pages/investing/personal-broker-teaser.jpg") no-repeat left 50%;
    }
    .product {
      padding: 60px 2em 60px 3em;
      width: 430px;
      font-size: 15px;
      .params,
      .description {
        margin-bottom: 2em;
        padding: 0;
        font-family: Georgia, serif;
        font-style: italic;
      }
      .params {
        list-style: none;
        text-align: center;
      }

    }

    &.pull-left {
      float: none;
      margin-right: 50%;
      width: 50%;
      >.item {
        position: relative;
        margin-right: -100%;
        width: 100%;
        z-index: 1;
        >.product { 
          float: left;
        }
        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 100%;
          margin-right: -100px;
          width: 150px;
          content: "";
          -moz-transform: skewX(-10deg);
          -ms-transform: skewX(-10deg);
          -o-transform: skewX(-10deg);
          -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
          z-index: -1;
        }
      }
    }
    &.pull-right {
      float: none;
      margin-left: 50%;
      width: 50%;
      >.item {
        position: relative;
        margin-left: -100%;
        width: 100%;
        z-index: 1;
        >.product { float: right; }
        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          margin-left: -100px;
          width: 150px;
          content: "";
          -moz-transform: skewX(-10deg);
          -ms-transform: skewX(-10deg);
          -o-transform: skewX(-10deg);
          -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
          z-index: -1;
        }
      }
    }
    /* Бэкграунды для скосов */
    .item.bg-gray:before { background-color: $dark-gray; }
    .item.bg-white:before { background-color: white; }
  }
  
}

/* Structural products
   ========================================================================== */
.page-structural-products {
  .product-teasers,
  .existing-products {
    padding: 50px 0;
  }

  .product-teasers .item {
    margin: 0 1%;
    width: 31%;
  }
  .existing-products {
    .item {
      padding: 40px 104px 40px 240px;
      border-bottom: 1px solid #cbcbcb;
      &:last-child { border: 0; }
      &.defensive { background: image-url("application/pages/investing/structural-products/type-defensive.png") no-repeat 104px 60px; }
      &.coupon { background: image-url("application/pages/investing/structural-products/type-coupon.png") no-repeat 104px 60px; }
      &.securities { background: image-url("application/pages/investing/structural-products/type-securities.png") no-repeat 104px 60px; }
    }
    .wrap {
      float: left;
      width: 365px;
    }
    .graph {
      float: right;
      padding: 18px 0 0;
      width: 222px;
      .product-params {
        margin: 18px -104px 0 0;
        font-size: 10px;
        table {
          width: 100%;
          td {
            padding: 9px 18px;
            color: #2f323b;
          }
          tr:first-child td {
            font-size: 12px;
            background-color: $dark-blue;
            color: white;
          }
        }
      }
    }
  }
}
/* PERSONAL BROKER
   ========================================================================== */
.page-personal-broker {
  /* Subsection ABOUT
   ========================================================================== */
  .about {
    text-align: center;
    padding: 50px 0;
    >p {
      font-family: Georgia, serif;
      font-size: 16px;
      font-style: italic;
    }
    .items {
      .item {
        text-align: left;
        .title {
          span {
            &:before {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
  /* Subsection HOWEVER
   ========================================================================== */
  .however {
    text-align: center;
    position: relative;
    .title {
      font-size: 36px;
      padding: 20px 0 10px;
    }
    >p {
      font-family: Georgia, serif;
      font-size: 16px;
      font-style: italic;
    }
    .img {
      background: image-url("application/however.bg.png") no-repeat center top;
      height: 745px;
      background-size: cover;
      position: relative;
      top: 15px;
    }
    .button {
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -490px;
      z-index: 10;
    }
  }
  /* Subsection RATES
   ========================================================================== */
  .rates {
    padding: 70px 0 50px;
    text-align: center;
  }
  /* Subsection TEASERS
   ========================================================================== */
  .teasers {
    .item {
      width: 25%;
    }
  }
}
/* ANALITYCS
   ========================================================================== */
.page-analytics {
  .analytics {
    text-align: center;
    padding: 0 0 30px;
    .stocks {
      padding: 25px 0;
      .column {
        display: inline-block;
        width: 260px;
        margin: 0 30px;
        .list {
          list-style: none;
          padding: 0;
          margin: 0;
          .item {
            margin: 3px 0;
            .shedule {
              width: 88px;
              height: 19px;
              vertical-align: middle;
              margin: 0 5px 0 0;
            }
            span {
              margin: 0 3px;
              font-weight: 600;
            }
            .name {
              color:$dark-blue;
            }
            .value {
            }
            .changing {
              color: $orange;
            }
          }
        }
      }
    }
    .invest-ideas,
    .top-list-trader,
    .economic-events,
    .market-date {
      margin: 0 10px 15px;
      text-align: left;
      .tittle {
        font-size: 30px;
      }
    }
    .invest-ideas,
    .top-list-trader {
      .item {
        width: 450px;
        height: 160px;
        background: $dark-gray;
        margin: 15px 0 0;
        padding: 0 15px 0 0;
        &:before {
          content:"";
          background: $dark-blue;
          display: block;
          height:34px;
          width: 465px;
        }
        .tittle-date {
          color: $white;
          font-size: 12px;
          margin: -26px 0 0 15px;
        }
        .tittle {
          font-size: 20px;
          font-weight: 100;
          margin: 15px 0 0 15px;
        }
        p {
          margin: 0 0 5px 15px;
          line-height: 1.3;
        }
        .invest-idea,
        .top-list {
          width:125px;
          height:125px;
          margin: 8px 15px 0 0;
          float: left;
        }
      }
    }
    .economic-events {
      height: 490px;
      table {
        width: 465px;
        margin: 15px 0 10px;
        tr {
          td {
            padding: 7px 5px;
          }
        }
        tr:nth-child(odd) {
          background: $light-gray;
        }
        tr:first-child {
          color: $white;
          background-color: $dark-blue;
          font-weight: 600;
        }
        tr:nth-child(even) {
          background: $dark-gray;
        }
        td:first-child {
          padding: 8px 5px 8px 15px;
        }
        .impact {
          background: image-url("application/analitycs.pyramid.png") no-repeat; 
          width: 10px;
          height: 10px;
          display: block;
        }
        .low {
          background-position-x: 0;
        }
        .medium {
          background-position-x: -10px;
        }
        .high {
          background-position-x: -21px;
        }
        .worse {
          color: red;
        }
        .better {
          color: #648100;
        }
        .fa {
          color: $orange;
          margin: 0 0 0 2px;
        }
      }
    }
    .market-date {
      height: 490px;
      .item {
        width: 450px;
        height:415px;
        background: $dark-gray;
        margin: 15px 0 0;
        padding: 0 15px 0 0;
        &:before {
          content:"";
          background: $dark-blue;
          display: block;
          height:34px;
          width: 465px;
        }
        .tittle-date {
          color: $white;
          font-size: 12px;
          margin: -26px 0 0 15px;
        }
        p {
          font-weight: 800;
          margin: 15px 0 0 15px
        }
        figure {
          width:465px;
          margin: 8px 15px 0 0;
          float: left;
        }
      }
    }
  }
}
/* TOOLS
   ========================================================================== */
.page-tools {
  .tools { 
    padding: 50px 0;
    .item {
      display: inline-block;
      width: 430px;
      height:470px;
      vertical-align: top;
      margin: 5px;
      padding: 30px 25px;
      background: $dark-gray;
      position: relative;
      .title { 
        line-height: 30px;
        font-size: 28px;
        b { font-weight: 600; }
      }
      p {
        font-size: 14px;
      }
      ul {
        margin: 0 0 35px 18px;
        padding: 0;
        li {
          line-height: 21px;
        }
      }
      .actions {
        position:absolute;
        bottom: 30px;
        a:first-child { margin-right: 1px; }
        h3 {
          font-weight: 400;
          font-size: 15px;
          letter-spacing: 0;
          margin: 0 0 10px;
          width: 430px;
        }
      }
    }
  }
}
/* OPEN ADVISOR
   ========================================================================== */
.page-open-advisor {
  /* 1) Subsection COVER
   ========================================================================== */
  .open-advisor {
    .content {
      color: $black;
      h2 {
        text-align:left;
        span {
          display: block;
        }
      }
      h3 {
        font: italic 121px Georgia;
        color:$dark-blue;
        margin: -60px 0 0; 
      }
      p {
        font: italic 18px Georgia;
        margin: -25px 0 0 100px;
      }
    }
  }
  /* Subsection YIELD
   ========================================================================== */
  .yield {
    padding: 60px 0;
    .content {
      text-align: center;
      .schedule {
        clear:both;
        margin: 15px 0 0;
      }
      table {
        border: none;
        border-spacing: 0;
        width: 958px;
        margin: 40px auto;
        text-align: left;
        font-weight: 300;
        font-size: 13px;
        tr {
          height: 35px;
          background: #d9d9d9;
          td {
            padding: 10px;
          }
          .line_font-style {
            font-weight: 600;
          }
          .icon_color {
            color: #505050;
            padding-left: 15px;
            font-size: 20px;
          }
          .icon-download {
            font-size: 20px;
          }
        }
        .line_white {
          background: $white;
        }
        .line_gray {
          background: $light-gray;
        }
      }
      .btn-show-more {
        &:hover {
          background: $orange;
        }
      }
    }
  }
  /* Subsection DESCRIPTION
   ========================================================================== */
 .description {
    background: $dark-blue image-url("application/open.advisor.description.bg.png") no-repeat center bottom;
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/open.advisor.description.bg.png', sizingMethod='scale')";
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/open.advisor.description.bg.png', sizingMethod='scale')";
    height:615px;
    color: $white;
    position: relative;
    .content {
      width: 650px;
      margin: 100px 0 0;
      .title {
        text-align: left;
      }
      p {
        font: italic 18px Georgia;
      }
      article {
        background: $dark-gray;
        position: absolute;
        padding: 10px;
        color: $dark-blue;
        border-radius: 4px;
        top: 330px;
        right: 90px;
      }
    }
  }
  /* Subsection CONNECT OPTIONS
   ========================================================================== */
  .connect-options {
    padding: 30px 0;
    text-align: center;
    table {
      border: none;
      border-spacing: 0;
      width: 958px;
      margin: 40px auto;
      text-align: left;
      font-weight: 300;
      font-size: 13px;
      tr {
        height: 35px;
        background: #d9d9d9;
        font-weight: 400;
        font-size: 13px;
        td {
          padding: 10px 10px 10px 20px;
        }
        .col__left {
          background: #74c0e4;
          color: $white;
          font-size: 14px;
        }
        .col__right {
          background: $dark-blue;
          color: $white;
          font-size: 14px;
        }
        .col__right__icon {
          background: image-url("application/open.advisor.pro.png");
          width:46px;
          height:20px;
          display: block;
          float: right;
        }
        .col__left__icon {
          background: image-url("application/open.advisor.lite.png");
          width:25px;
          height:25px;
          display: block; 
          float: right;
        }
      }
      tr {
        &:nth-child(odd) {
          background: $white;
        }
        &:nth-child(even) {
          background: $light-gray;
        }
        th {
          background: $orange;
          height:30px;
          text-align: center;
          color: $white;
          font-size: 16px;
        }
      }
      .line_button {
        text-align: center;
        .btn-connect-left {
          background: $light-blue;
          &:hover {
            background: $dark-blue;
          }
        }
        .btn-connect-right {
          &:hover {
            background: $light-blue;
          }
        }
      }
    }
  }
}
/* Documentation
   ========================================================================== */
.page-documentation {
  .content {
    text-align:center;
  }
  h1.title {
    margin: 30px 0 10px;
    line-height: 45px;
    font-size: 36px;
  }
  .link {
    color: #53b2df;
    text-decoration: underline; 
  }
  .documentation-events {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    .item {
      padding: 18px 0;
      .title {
        float: left;
        padding-left: 30px;
        width: 645px;
        font-size: 14px;
        &.docs {
          background: image-url("application/pages/documentation/icon-docs.png") no-repeat 0 50%;
        }
      }
      .actions {
        float: right;
        a:first-child {
          margin-right: 1px;
        }
        .item {
          display: inline-block;
          margin: 0 2px 2px 0;
          padding: 4px;
          font-size: 10px;
          line-height: 14px;
          background-color: #cecece;
          border-radius: 2px;
        }
      }
      &:nth-child(even) {
        background-color: $white;
      }
      &:nth-child(odd) {
        background-color: $dark-gray;
      }
    }
  }
  /* Скачать все одним архивом */
  .action {
    padding: 50px 0;
    text-align: center;
  }
}
/* ABOUT
   ========================================================================== */
.page-about {
  .about {
    .product-teasers {
      .items {
        .item {
          text-align: left;
          .title {
            &:after {
              display: none;
            }
            span {
              &:before {
                border-radius: 0;
              }
            }
          }
        }
      }
    }
    .content {
      padding: 30px 0;
      text-align: center;
      p {
        font-family: Georgia, serif;
        font-style: italic;
        font-size: 15px;
      }
    }
  }
  .securities {
    padding: 40px 0 20px;
    .title {
      font-family: Georgia, serif;
      font-style: italic;
      font-size: 36px;
      color: #ffffff;
    }
  }
  .transcript, .terms {
    margin: 30px 0;
    text-align: left;
    width: 600px;
    .caption {
      font-size: 32px;
      padding: 0 0 10px;
    }
    ol, ul {
      margin: 0 0 0 20px;
      padding: 0;
      li {
        margin: 3px 0 0;
      }
    }
  }
  .executives {
    overflow:hidden;
    padding: 25px 0 15px;
    text-align:left;
    .item {
      width: 450px;
      margin: 0 10px 0 0;
      figure {
        margin:0 10px 0 0;
      }
      .description {
        overflow:hidden;
        .title {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }
}
